[Unit]
Description=ozeety's distributed currency daemon
After=network.target

[Service]
User=ozeety
Group=ozeety

Type=forking
PIDFile=/var/lib/ozeetyd/ozeetyd.pid

ExecStart=/usr/bin/ozeetyd -daemon -pid=/var/lib/ozeetyd/ozeetyd.pid \
          -conf=/etc/ozeety/ozeety.conf -datadir=/var/lib/ozeetyd

ExecStop=-/usr/bin/ozeety-cli -conf=/etc/ozeety/ozeety.conf \
         -datadir=/var/lib/ozeetyd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
