[Desktop Entry]
Encoding=UTF-8
Name=ozeety
Comment=ozeety P2P Cryptocurrency
Comment[fr]=ozeety, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ozeety, eşten eşe kriptografik sanal para birimi
Exec=ozeety-qt %u
Terminal=false
Type=Application
Icon=ozeety128
MimeType=x-scheme-handler/ozeety;
Categories=Office;Finance;
